@model MyClassroom.Models.TeacherIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    #butt .btn {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #butt .butt {
        width: 200px;
        height: 200px;
    }
</style>

<br />
<h1>Hello @Model.Teacher.FirstName</h1>
<br />

<div class="row" id="butt">


    <form asp-action="CreateClassroom" asp-controller="Teacher" method="post">
    <button value="Create" type="button" class="btn btn-info btn-lg butt" data-toggle="modal" data-target="#createClassroomModal" asp-action="CreateClassroom">Create Class</button>
    </form>

    @foreach (var item in Model.MyClassrooms)
    {
        <a type="button" class="btn btn-success btn-lg butt" asp-action="SelectedClassroom" asp-route-id="@item.Id">@item.Name</a>
    }
</div>


<div class="modal fade" id="createClassroomModal" tabindex="-1" aria-labelledby="createClassroomModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="CreateHomework" method="post" enctype="multipart/form-data" asp-controller="Teacher">
                <div class="modal-header">
                    <h5 class="modal-title" id="createHomeworkModal">Attendance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" style="display:none">
                        <label asp-for="Classroom.TeacherID" class="control-label"></label>
                        <input asp-for="Classroom.TeacherID" class="form-control" />
                        <span asp-validation-for="Classroom.TeacherID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Classroom.Name" class="control-label"></label>
                        <input asp-for="Classroom.Name" class="form-control" />
                        <span asp-validation-for="Classroom.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" asp-action="CreateClassroom" asp-controller="Teacher">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>