@model MyClassroom.Models.TeacherIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .btn {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .butt {
        width: 200px;
        height: 200px;
    }
</style>

<br />
    <h1>Hello @Model.Teacher.FirstName</h1>
<br />

<div class="row">
        <a value="Create" class="btn btn-primary btn-lg butt" asp-action="CreateClassroom">Create Class</a>
        @foreach (var item in Model.MyClassrooms)
        {
            <a type="button" class="btn btn-primary btn-lg butt" asp-action="SelectedClassroom" asp-route-id="@item.Id">@item.Name</a>
        }
</div>



